.hg/
*~
*.pyc
*.swp
.idea/
.project
.pydevproject
.settings/
.metadata/

# For buildout
.installed.cfg
bin/
buildout.cfg
upgrade.py
upgrade.log
openerp-command/
develop-eggs/
downloads/
eggs/
etc/
parts/
py27/
upgrade.py

# For Audaxis addons structure
/**/funkload/log/

# project specific
openerp_jasperserver/
openerpxmlmigrator/
account-financial-tools/
e-commerce-addons/
new-report-intrastat/
openerp-connector-magento/
openerp-connector/
openerp-product-attributes/
sale-wkfl/
inouk_openerp_data_move_tools/
addons_mathon_datamigration/

ax_weekly_forecast/

# Interfaces
reflex_interfaces_in/*.txt
reflex_interfaces_out/*.txt
reflex_interfaces/*.txt
reflex_interfaces_archives/*.txt
reflex_interfaces*.zip

# datamigration
addons_mathon_datamigration/
